{% extends 'base.html' %}
{% block content %}
{% for journey in journeys %}
<div class="card">
    <!-- Add this <a> tag -->

    <a href="{% url 'detail' journey.id%}">
      <div class="card-content">
        <span class="card-title">{{ journey.name }}</span>
        <p>workout type: {{ journey.workout_type }}</p>
        <p>Description: {{ journey.description|linebreaks }}</p>
        {% if journey.age > 0 %}
          <p>Age: {{ journey.age }}</p>
        {% else %}
          <p>Age: 22</p>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}
{% endblock %}